
TheLedgerApp/.idea/compiler.xml

TheLedgerApp/.idea/copyright/profiles_settings.xml

TheLedgerApp/.idea/encodings.xml

TheLedgerApp/.idea/gradle.xml

TheLedgerApp/.idea/misc.xml

TheLedgerApp/.idea/modules.xml

TheLedgerApp/.idea/runConfigurations.xml

TheLedgerApp/.idea/vcs.xml

.idea/compiler.xml

.idea/.name

.idea/dictionaries/AMoreira.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/TheLedger.iml

.idea/vcs.xml

.idea/workspace.xml

TheLedgerApp/.idea/dictionaries/AMoreira.xml

TheLedgerApp/.idea/.name
